version: 2

# Java image to compile source code
java_env: &java_env
  docker:
    - image: circleci/openjdk:8-jdk

# Python image to run aws utilities
python_env: &python_env
  docker:
    - image: circleci/python:2.7-stretch-browsers

# Instructions of installing aws utilities
install_awscli: &install_awscli
  name: "Install awscli"
  command: |
    sudo pip install awscli awsebcli --upgrade

install_deploysuite: &install_deploysuite
          name: Installation of install_deploysuite.
          command: |
            git clone --branch v1.3 https://github.com/topcoder-platform/tc-deploy-scripts ../buildscript
            cp ./../buildscript/master_deploy.sh .
            cp ./../buildscript/buildenv.sh .
            cp ./../buildscript/awsconfiguration.sh .

# Instructions of deployment
deploy_steps: &deploy_steps
  - checkout
  - run: *install_deploysuite  
  - attach_workspace:
      at: .
  - run: *install_awscli
  # Install commandline json processor
  - run: sudo apt-get update && sudo apt-get install -y jq
  - setup_remote_docker
  - run:
      name: "configuring aws environment"
      command: |
        ./awsconfiguration.sh $DEPLOY_ENV
  - run:
      name: "Building image"
      command: |
        source awsenvconf  
        ./build_image.sh 

  - deploy:
      name: "Deploying image"
      command: |
        source awsenvconf  
        ./buildenv.sh -e ${DEPLOY_ENV} -b ${DEPLOY_ENV}-tc-terms-service-deployvar
        source buildenvvar
        ./master_deploy.sh -d ECS -e ${DEPLOY_ENV} -t latest -s ${DEPLOY_ENV}-tc-terms-service-appvar -i tc-terms-service

jobs:
  build:
    <<: *java_env
    steps:
      - checkout        
      - run: mvn clean compile package
      - persist_to_workspace:
          root: .
          paths:
            - ./target

  deploy_prod:
    <<: *python_env
    environment:
      DEPLOY_ENV: "PROD"
    steps: *deploy_steps

  deploy_dev:
    <<: *python_env
    environment:
      DEPLOY_ENV: "DEV"
    steps: *deploy_steps
      

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
      - deploy_dev:
          context : org-global      
          filters:
            branches:
              only:
                - dev
                - dev-sts
          requires:
            - build
      - deploy_prod:
          context : org-global      
          filters:
            branches:
              only: master
          requires:
            - build
